{
        "customerID": "1",
        "firstName": "Rajesh",
        "lastName": "Dhoni",
        "phone": "0412325743",
        "email": "dhoni@gmail.com",
        "mailingAddress": {
            "firstLine": "16/14-16",
            "secondLine": "Allen Street",
            "suburb": "Harris Park",
            "postcode": 2150,
            "country": "AUS",
            "city": "Sydney"
        },
        "permanentAddress": {
            "firstLine": "16/14-16",
            "secondLine": "Allen Street",
            "suburb": "Harris Park",
            "postcode": 2150,
            "country": "AUS",
            "city": "Sydney"
        },
        "orders": [
            {
                "id": "SYD001",
                "customerId": "1",
                "productId": "APPLE_IPAD_PRO",
                "orderDesc": "Apple ipad pro 2017",
                "orderDate": " 2017-10-31 07:42:36.527",
                "orderStatus": "Raised"
            },
            {
                "id": "SYD002",
                "customerId": "1",
                "productId": "APPLE_IPHONE_8",
                "orderDesc": "Apple iphone 8 2017",
                "orderDate": " 2017-10-31 07:42:36.527",
                "orderStatus": "Raised"
            },
            {
                "id": "SYD003",
                "customerId": "1",
                "productId": "APPLE_IMAC_PRO",
                "orderDesc": "Apple iMac Pro 2017",
                "orderDate": " 2017-10-31 07:42:36.527",
                "orderStatus": "Raised"
            },
            {
                "id": "SYD004",
                "customerId": "1",
                "productId": "APPLE_TV",
                "orderDesc": "Apple Tv 2017",
                "orderDate": " 2017-10-31 07:42:36.527",
                "orderStatus": "Raised"
            }
        ]
    }